<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.free.samuelchristy.myzoo">


    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        >


        main activity
        <activity android:name=".AccueilActivity" android:label="@string/activity_title_accueil">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity android:name=".SmsReader" android:label="@string/app_name">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <!--extra activities-->
        <activity
            android:name=".AlertActivity"
            android:label="@string/activity_title_alert" />

        <activity
            android:name=".ZooMapActivity"
            android:label="@string/activity_title_zoo" />
        <activity
            android:name=".AquariumActivity"
            android:label="@string/activity_title_aquarium" />
        <activity
            android:name=".PopCornActivity"
            android:label="@string/activity_title_popcorn" />
        <activity
            android:name=".VoliereActivity"
            android:label="@string/activity_title_voliere" />
    </application>


</manifest>
